/* card container */
.c-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
}
/* product card */
.p-c {
    height: 150px;
    background: var(--gray-dark);
    border-radius: 17px;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.p-c.p {
    height: 165px;
}
.p-c.ptr {
    cursor: pointer;
}
.p-c input {
    background: transparent;
    border: none;
    color: #fff;
    height: 25px;
}
.p-c input::placeholder {
    color: #eee;
}
.mnu {
    position: relative;
}
.p-c .mnu {
    position: absolute;
    right: 10px;
    top: 10px;
}
.p-c .mnu > button {
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 0;
}
.p-c .mnu > button img {
    height: 16px;
    width: 16px;
    filter: invert(1);
}
.p-c .mnu > button:active {
    background: var(--gray-lighter);
}
.mnu-drp {
    display: none;
    position: absolute;
    right: 0;
    top: 32px;
    padding: 5px 0;
    background: var(--gray-light);
    border-radius: 4px;
    z-index: 1;
    animation: 50ms pop linear;
}
@keyframes pop {
    from{ transform: translateY(10px); }
    to  { transform: translateY(0); }
}
.p-c .mnu-drp {
    width: 100px;
}
.mnu-drp button.mb {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    outline: none;
}
.mnu-drp button.mb::-moz-focus-inner {
    border: none;
}
.mnu-drp button.mb:active {
    background: var(--gray-dark);
}
.mnu.-shw .mnu-drp {
    display: block;
}
/* card head(for image) */
.pc-h {
    background: var(--gray-darker);
    overflow: hidden;
    height: 80px;
}
.pc-h img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* card text area */
.pc-b {
    padding: 10px 10px 15px;
}
.pc-m {
    font-size: 13px;
}
/* card title */
.pc-t {
    margin-bottom: 5px;
}
.pc-t,
.p-c input {
    font-size: 18px;
}
/* product variant table */
.pt td:nth-child(2),
.pt td:nth-child(4) {
    width: 100px;
}
.pt td:nth-child(3) {
    width: 140px;
}
/* drop zone */
.img-drp {
    margin-bottom: 15px;
}
.img-drp.ptr {
    cursor: pointer;
}
.img-drp .drp {
    height: 100px;
    border: 2px dashed var(--gray-lighter);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
.img-drp .drp.ovr {
    background: var(--gray-dark);
}
.img-drp .prw {
    display: flex;
    flex-wrap: wrap;
}
.img-drp .prw-i {
    width: 100px;
    height: 100px;
    border: 2px solid var(--gray-lighter);
    border-radius: 2px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.img-drp .prw-i.ptr {
    cursor: pointer;
}
.img-drp .prw-i button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 12px;
    border: none;
    background: rgba(0,0,0,.5);
    padding: 8px;
    cursor: pointer;
}
.img-drp .prw-i button:hover {
    background: rgba(0,0,0,.9);
}
.img-drp .prw-i button img {
    filter: invert(1);
}
.img-drp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* modal */
.mdl {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2rem;
    background: rgba(0,0,0,.9);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mdl > div {
    background: var(--gray-dark);
    border-radius: 8px;
}
.mdl .mdl-l {
    padding-top: 15px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.mdl .mdl-c {
    padding: 30px 15px 15px;
    width: 500px;
}
.mdl-t {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.mdl-f {
    display: flex;
    justify-content: center;
}
.mdl-f button + button {
    margin-left: 15px;
}
.img-lib .drp {
    padding: 0;
}