:root {
  --gray-dark: #2a2a2a;
  --gray-darker: #262626;
  --gray-light: #535353;
  --gray-lighter: #616161;
  --theme: #a3f7bf;
}
.App {
  min-height: 100%;
  padding: 1rem;
  background: #404040;
  color: #eee;
  display: flex;
}
.App-c {
  display: flex;
  width: 100%;
  background: #333333;
  border-radius: 15px;
}
.App-l {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.App-lc {
  background: #333333;
  padding: 30px;
  border-radius: 8px;
}
.App-lc .g-signin2 > div {
  margin: 0 auto;
}
.al-gb {
  margin-bottom: 15px;
}
.al-t {
  margin-bottom: 15px;
  font-size: 25px;
}
/* side bar */
.s-b {
  width: 180px;
  padding: 1rem;
}
/* side container */
.s-c {
  flex: 1;
  padding: 1rem;
  /* overflow-y: scroll;
  scrollbar-width: none; */
}
.s-b button,
.s-b a {
  background: var(--gray-darker);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
  padding: 0 17px;
  border-radius: 17px;
  color: #eee;
  border: 2px solid var(--gray-darker);
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.s-b a.actv {
  /* border-color: #2f4373; */
  background: var(--theme);
  color: var(--gray-dark);
}
/* page heading */
.p-h {
  position: relative;
}
.p-h h1 {
  margin: 0 15px 15px;
  font-weight: 600;
}
.ph-r {
  position: absolute;
  right: 0;
  top: 0;
}
/* table */
table {
  border-collapse: collapse;
}
table th {
  text-align: left;
}
table.dt {
  width: 100%;
}
table.dt th {
  background: #404040;
}
table th,
table td {
  height: 30px;
}
table.dt th,
table.dt td {
  padding: 15px;
}
table.dt tr:nth-child(odd) td {
  background: var(--gray-dark);
}
table.dt tr.ex > td {
  background: #333333;
  padding: 15px 15px;
  border-width: 0 0 1px 0;
}
table.dt tr.ex > td:first-child {
  border-left-width: 1px;
}
table.dt tr.ex > td:last-child {
  border-right-width: 1px;
}
table.dt tr.dc td {
  border-width: 1px 0 0 0;
  background: var(--gray-dark);
}
table.dt tr.ex > td,
table.dt tr.dc td {
  border-style: solid;
  border-color: var(--theme);
}
table.dt tr.dc td:first-child {
  border-left-width: 1px;
}
table.dt tr.dc td:last-child {
  border-right-width: 1px;
}
/* badge */
.badge {
  background: #e74c3c;
  color: #fff;
  border-radius: 10px;
  padding: 0 5px;
  height: 20px;
  margin-top: 5px;
  line-height: 18px;
  float: right;
}
/* form */
.c-f {
  padding: 0 15px 1rem;
}
.c-f.-h {
  max-width: 500px;
}
.c-f.-c {
  max-width: 800px;
  margin-bottom: 15px;
  background: var(--gray-dark);
  border-radius: 8px;
  padding-top: 15px;
}
.c-f label {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 600;
}
.c-f .spc {
  padding-top: 5px;
}
.c-f input:not([type=checkbox]),
.c-f select,
.c-f textarea {
  border: 2px solid var(--gray-lighter);
  width: 100%;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 15px;
}
.c-f input[type=checkbox] {
  vertical-align: top;
}
.c-f textarea {
  padding: 8px;
  line-height: 20px;
}
.c-f input:not([type=checkbox]) {
  line-height: 36px;
}
.c-f input:not([type=checkbox]):focus,
.c-f select:focus,
.c-f textarea:focus {
  border-color: var(--theme);
}
.c-f select {
  height: 40px;
}
.c-f .grp {
  margin-bottom: 10px;
}
.btn,
.ph-r button,
.c-f button {
  background: var(--theme);
  border: none;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.btn.red,
.c-f button.red {
  background: #e74c3c;
  color: #fff;
}
.c-f h2 {
  margin: 0 0 10px;
}
.sep {
  border-top: 1px solid var(--gray-lighter);
  padding-top: 15px;
  margin-bottom: 15px;
}
.sep .-c {
  background: #713833;
  border-radius: 8px;
  padding-top: 15px;
}
/* empty page */
.emp-pg {
  font-size: 25px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
.emp-pg img {
  margin-bottom: 2rem;
  filter: invert(1);
}
/* page outer container */
.p-m {
  height: 100%;
}
/* loading */
.lds {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  flex: 1;
}
.lds div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: #fff transparent #fff transparent;
  border-width: 3px;
  border-style: solid;
  animation: 700ms spinn infinite linear;
}
@keyframes spinn {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}
/* padding top */
.sect {
  padding-top: 15px;
}
.sect.-c {
  width: 300px;
}
.sect.-c td:first-child {
  width: 100px;
}
/* orders */
.od-x {
  display: flex;
}
.od-l {
  margin-right: 15px;
}
.od-x .mnu-drp {
  top: 45px;
}
.mnu-drp button.mb.pur {
  background: #9b59b6;
}
.mnu-drp button.mb.blu {
  background: #3498db;
}
.mnu-drp button.mb.grn {
  background: #2ecc71;
}
.od-x button.ic {
  padding-left: 20px;
}
.od-x button img {
  width: 15px;
  margin-top: 13px;
  margin-right: 5px;
  opacity: .8;
}
.od-x button.ci {
  padding-right: 20px;
}
.od-x button.ci img {
  margin-left: 13px;
  margin-right: 0;
}
.od-x button.red img {
  filter: invert(1);
}
/* users */
.us-r .c-f {
  width: 340px;
  padding-top: 15px;
}
.us-r .mnu-drp {
  top: 45px;
}
.lg-bt {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #616161;
}
.lg-bt button {
  text-align: left;
}
.lg-bt img {
  width: 16px;
  filter: invert(1);
  margin-top: 7px;
  float: right;
}
/* login */
.err {
  color: #e74c3c;
}
.App-lc .err {
  text-align: center;
}